<html ng-app="app" >
	<head>
		<meta charset="utf-8">
		<title>myProject</title>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="js/angular.js"></script>
		<script src="app/app.js"></script>
		<script src="controllers/myContl.js"></script>
		<script src="controllers/map.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu8lMaiAjoC93NHldXJtkb4g3DltW4HxM&v=3&language=iw?"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			
		<!-- <script>
			  function toggle_visibility() {
				var e = document.getElementById('foo');
				if (e.style.display == 'block')
					e.style.display = 'none';
				else
					e.style.display = 'block';
			}
		</script> -->

	</head>

	<body>
		<div class="row main-panel" ng-controller="myContl map">
			חפש
			<input placeholder="חפש בית חבד " ng-model="query" />
			<br/>

			<div class="col-lg-7" >
				
				<div class="row panel panel-default">
					
						<div class="col-lg-4 panel panel-default card-panel" ng-repeat="a in chabad|filter: {name:query} |orderBy:updown" >
		  					<div class="panel-heading">
		  						
		  						{{a.name}}
		  					</div>
		  					<div class="panel-body"  >
		  						
		  						<a  ng-href="#"> <img ng-src="img/{{a.img}}"  /> </a>
		  						
		  					</div>
		 					<div class="panel-footer">
		 						<button class="btn-info"  ng-click="display(a)">פרטים</button>
		 						<button class="btn-info"  ng-click="gotoLocation(a.lat, a.lon)">הצג במפה</button>
		 					</div>
						</div>
					</div>
					
				
				
			

			
<!--

				<div id="foo" style="display=none;">
					<p>
						{{a.address}}
					</p>

					<p>
						{{a.tel}}
					</p>
				</div>-->


			</div>
			<div class="col-lg-5">
				<div class=" panel panel-default">
					<div class="panel-heading">
						{{details.name}}
					</div>
					<div class="panel-body"  >
						<p>
						{{details.address}}
					</p>

					<p>
						{{details.tel}}
					</p>
					</div>
				</div>
				
				<div class="panel panel-default">
				    <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;"
        				center="loc"
        				markers="airports"> 
   					 </app-map>
				</div>
			</div>

			

		</div>

	
		<!--   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d54366.174409099876!2d34.7769395!3d31.609586099999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1siw!2sil!4v1475222971544" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		-->

	</body>
</html>
