<html ng-app="app" >
<head>
  <meta charset="utf-8">
  <title>myProject</title>
  <link rel="stylesheet" href="css/style.css" />
    <script src="js/angular.js"></script>
    <script src="app/app.js"></script>
	<script src="controllers/myContl.js"></script>
	
	
</head>

<body>
 <div ng-controller="myContl">
 search
         	<input placeholder="חפש בית חבד " ng-model="query" /> <br/>
         	
	<div ng-repeat="a in chabad|filter: {name:query} |orderBy:updown"  class="box">

        <div class=><img ng-src="img/{{a.img}}" width=200 height=200 /></div>
 		<div class=>{{a.name}}</div>
 		
         <div class=>{{a.address}}</div>
          <div class=>{{a.tel}}</div>
          
 	</div>
 	
 	 <div id="map"></div>
   
   
 	
 </div>

  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu8lMaiAjoC93NHldXJtkb4g3DltW4HxM&v=3&callback=initMap"
    async defer></script>
</body>
</html>
